---
import MdiArrowRight from "~icons/mdi/arrow-right";
import H3 from "../../typography/H3.astro";
import Paragraph from "../../typography/Paragraph.astro";
import SectionHeading from "../../typography/SectionHeading.astro";
import Button from "../../ui/Button.astro";
import Image from "../../ui/Image.astro";
import Section from "../../ui/Section.astro";
import { formatDate } from "../../../lib/utils/formatDate";
import { getPostUrl } from "../../../lib/utils/url";
import { getLocale } from "../../../paraglide/runtime.js";
import { m } from "../../../lib/i18n";
import type { CollectionEntry } from "astro:content";

interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<Section
    id="post"
    class="flex flex-col gap-4 md:gap-6 lg:gap-8 xl:gap-12 justify-center"
>
    <SectionHeading
        centered
        title={m.recent_posts_section_title()}
        subtitle={m.recent_posts_section_subtitle()}
    />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 xl:gap-12">
        <!-- Latest blog post with thumbnail -->
        <div class="flex flex-col gap-6 xl:gap-8 items-start">
            <a
                href={getPostUrl(posts[0].slug)}
                class="relative cursor-pointer w-full flex-1 min-h-48 overflow-hidden viewport-slide-in-bottom opacity-0 translate-y-12"
                data-cursor-icon="fullscreen"
            >
                <Image
                    parallax
                    alt={posts[0].data.title}
                    src={posts[0].data.header_image!}
                    class="absolute inset-0 w-full h-full object-cover"
                    sizes="(min-width:1920px) 1920px, (min-width:1280px) 1280px, (min-width:768px) 480px"
                />
            </a>
            <div class="flex flex-col gap-2">
                <hgroup class="flex flex-col gap-1 md:gap-2">
                    <H3>{posts[0].data.title}</H3>
                </hgroup>
                <Paragraph class="hidden md:flex flex-1">
                    {posts[0].data.description}
                </Paragraph>
            </div>
            <div class="w-full flex items-center justify-between gap-2">
                <Button
                    style="line"
                    href={getPostUrl(posts[0].slug)}
                    ariaLabel={m.recent_posts_aria_read_more({
                        title: posts[0].data.title,
                    })}
                    iconRight={MdiArrowRight}
                >
                    {m.read_more()}
                </Button>
                <span class="hidden md:block text-black/80 dark:text-white/80"
                    >{formatDate(posts[0].data.publish_date)}</span
                >
            </div>
        </div>

        <!-- List of other blog posts -->
        <div class="flex flex-col gap-6 xl:gap-8 justify-between items-start">
            {
                posts.slice(1).map((post) => (
                    <div class="flex md:flex-col gap-2 md:gap-2 lg:gap-4 items-start w-full viewport-slide-in-bottom opacity-0 translate-y-12">
                        <div class="flex-1 w-full flex flex-col gap-2">
                            <hgroup class="flex flex-col gap-1 md:gap-2">
                                <H3>{post.data.title}</H3>
                            </hgroup>
                            <Paragraph class="hidden md:flex flex-1">
                                {post.data.description}
                            </Paragraph>
                        </div>
                        <div class="h-full md:w-full flex items-center justify-center md:justify-between gap-2">
                            <Button
                                style="text"
                                href={getPostUrl(post.slug)}
                                ariaLabel={m.recent_posts_aria_read_more({
                                    title: post.data.title,
                                })}
                                iconRight={MdiArrowRight}
                            >
                                {m.read_more()}
                            </Button>

                            <span class="hidden md:block text-black/80 dark:text-white/80">
                                {formatDate(post.data.publish_date)}
                            </span>
                        </div>
                    </div>
                ))
            }
            <Button
                href={getLocale() === "en" ? "/blog" : `/${getLocale()}/blog`}
                style="line"
                ariaLabel={m.recent_posts_aria_view_all()}
                iconRight={MdiArrowRight}
            >
                {m.view_all()}
            </Button>
        </div>
    </div>
</Section>

<script>
    import { viewportSlideInBottom } from "../../../lib/utils/viewportSwitchClass";

    function initRecentPosts() {
        const elements = document.querySelectorAll(".viewport-slide-in-bottom");
        elements.forEach((el) => {
            viewportSlideInBottom(el as HTMLElement);
        });
    }

    initRecentPosts();
    document.addEventListener("astro:page-load", initRecentPosts);
</script>
